ONEDATA_ONEZONE_HOST=https://dev-onezone.default.svc.cluster.local
ONEDATA_ONEZONE_TOKEN=ADD_YOUR_ONEZONE_TOKEN_HERE

ONEDATA_ONEPROVIDER_HOST=https://dev-oneprovider-krakow.default.svc.cluster.local
ONEDATA_ONEPROVIDER_TOKEN=ADD_YOUR_PROVIDER_TOKEN_HERE

ONEDATA_ALLOW_INSECURE_TLS=true # required if you are using self-signed certificates